.max-width {
  max-width: 1440px;
  margin: 0 auto;
}
/* Style for the logo icon */
.logo-icon img {
  max-height: 40px; /* Adjust the maximum height as needed */
  width: auto; /* Automatically adjust the width to maintain aspect ratio */
}

/* Style for the logo text */
.logo-text img {
  max-height: 40px; /* Adjust the maximum height as needed */
  width: auto; /* Automatically adjust the width to maintain aspect ratio */
}
